.App{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17rem;
}
.nav input{
  width: 23rem;
  height: 2rem;
  border: 2px solid grey;
  border-radius: 10px;
  font-size: 1rem;
  padding: 1.3rem 1rem
}
.nav .del-button{
  padding: 0.4rem 0.5rem;
  background-color:#F32424;
  border: 2px solid #F32424;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.nav .del-button:hover{
  background-color: white;
  color: #F32424;
  transition: all ease 0.2s;
}
.nav .del-button i{
  font-size: 2rem;
}
.actions{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.edit-btn{
  cursor: pointer;
  transition: all ease 0.2s;
  border: 2px solid #DFDFDE;
  border-radius: 5px;
  padding: 0.3rem;
}
.edit-btn:hover{
  transform: scale(1.1);
}
.del-btn{
  background-color:#F32424;
  border: 2px solid #F32424;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.3rem;
}
.del-btn:hover{
  background-color: white;
  color: #F32424;
}
.save{
  background-color:#5463FF;
  border: 2px solid #5463FF;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.3rem;
}
.save:hover{
  background-color: white;
  color: #5463FF;
}
.actions i{
  font-size: 1.8rem;
}
table, td, th{
  border: 1px solid black;
  padding: 0.5rem 1rem;
  font-size: large;
}
.checked{
  background-color: #DFDFDE;
}
.current{
  border: 3px solid black !important;
  font-size: 1.2rem !important;
}
.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer button{
  padding: 7px 10px;
  font-size: 1rem;
  background: white;
  border: 2px solid grey;
  border-radius: 5px;
  cursor: pointer;
}
.footer button:hover{
  background-color: #F5F7F8;
}
@media only screen and (max-width: 768px) {
  body{
    padding: 200px 400px;
  }
}